@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

html {
    height: 100%;
}

body {
    padding-top: 90px;
    font-family: "Menlo", "Meslo LG", monospace!important;
}

/*body[data-theme='dark']{
  --text-color-normal: hsl(210, 10%, 62%);
  background: #121212;
  color: rgba(255,255,255, .8);
}*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;

    border-top: 1px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/*.bread-crumb{
  font-family: Muli,sans-serif;
  font-size: 16px;
      color: #6c63ff;
    font-weight: 700;
    margin-bottom: 16px;
}*/

.m-l-0 {margin-left: 0px;}

.h-10{
  height: 10%
}
.h-20{
  height: 20%
}
.h-30{
  height: 30%
}
.h-40{
height: 40%;
}
.h-50{
  height: 50%;
}
.h-60{
height: 60%;
}
.h-70{
  height: 70%;
}
.h-80{
  height: 80%;
}

.h-90{
  height: 90%;
}
.text-underline{
  text-decoration: underline!important;
}

.twitter-logo{
  cursor: pointer;
}

.twitter-image{
  position: absolute;
  right: 10px;
  height: 60px;
  width:60px;
  bottom: 65px;
  position: fixed;
  background: #536dfe;
  border-radius: 50%;
  z-index: 10000;
  cursor: pointer;
}

.twitter-image svg{
  transition-property: transform;
  transition-duration: 300ms;
}

.twitter-image svg:hover,
.twitter-image svg:active,
.twitter-image svg:focus{
  transform: rotate(135deg);
}

.navbar {
    border-top: 1px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background: #4C4CD2!important;
}

.navbar-brand svg{
  border-radius: 50% ;
  border: 1px solid #f8f9fa;
}

.navbar-nav{
  font-family: 'PT Sans', sans-serif!important;
}

.navbar-nav .nav-item.active .nav-link{
  font-weight: 800;
}

.group-container {
    padding: 0;
    height: 100%;
}

.selectors,
.block {
    height: 100%;
    width: 100%;
}

.selectors button {
    border: none;
    border-radius: 0;
    background-color: #f8f9fa !important;
    width: 25%;
    margin-left: 0;

    -webkit-transition-property: min-width, max-width;
    transition-property: min-width, max-width;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
}

.selectors button:active {
    border: none!important;
    outline: none!important;
}

.selectors button:focus {
    border: none!important;
    outline: none!important;
    box-shadow: 0 0 0 0px;
}

.active,
.selector-holder {
    display: flex;
    flex-direction: column;
}

.selectors button.button-active{
  border-bottom: 2px solid #6eb9f7!important;
}

.inactive {
    display: none;
}

.selector-holder span {
    font-size: 0.8rem;
}

/* Colors of the buttons*/
.button-active,
.selectors button:hover,
.selectors button:active,
.selectors button:focus {
    padding-top: 3px;
    -webkit-transition-property: padding-top;
    transition-property: padding-top;

    color: #002AA8;
}

.button-inactive {
    color: #202121;
}

.selectors button i{
  padding-top: 8px;
  pointer-events: none;
  transition-property: padding-top, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.selectors button span{
  margin-top: auto;
  padding-bottom: 10px;
  font-size: 0.78rem;
  font-weight: bold;
  pointer-events: none;
  transition-property: font-size, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  font-family: 'PT Sans', sans-serif!important;
}

.navbar-nav li{
  display: inline-block!important;
  margin-left: 1rem;
}
.navbar-nav li a{
  font-size: 1.1rem;
}

.card {
    position: relative;
    margin-bottom: 24px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}


#page-home form {
  max-width: 700px;
  width: 90%
}

#page-home form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  overflow: hidden;
  margin-bottom: 30px;
}

#page-home form .inner-form .input-field {
  height: 68px;
}

#page-home form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #292f33;
  padding-left: 30px;
  font-family: "Helvetica Neue", sans-serif!important;
}

#page-home form .inner-form .input-field input.placeholder {
  color: #737373;
  font-size: 15px;
}

#page-home form .inner-form .input-field input:-moz-placeholder {
  color: #737373;
  font-size: 15px;
}

#page-home form .inner-form .input-field input::-webkit-input-placeholder {
  color: #737373;
  font-size: 15px;
}

#page-home form .inner-form .input-field input:hover, #page-home form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

#page-home form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #d9f1e3;
  /*e1e1ea*/
}

#page-home form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

#page-home form .inner-form .input-field.second-wrap {
  width: 76px;
}

#page-home form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: 300;
}

#page-home form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #f0f0f2;
}

#page-home form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}
a.link{
  word-wrap: break-word;
  width: 100%
}

/*large screens*/


@media screen and (min-width: 576px) {
    .twitter-image{
      bottom: 20px;
    }
}

/*small screens*/
@media screen and (max-width: 992px) {
  #page-home form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  #page-home form .inner-form .input-field.second-wrap {
    width: 50px;
  }
}

@media screen and (max-width: 667px) {
    .navbar-nav{
      margin-right: 10px;
    }

    .navbar-nav li a{
      font-size: 1rem;
    }
    #page-home form{
      width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .main{
      margin-bottom: 80px;
    }
}

@media screen and (max-width: 467px) {
    #page-home form{
      width: 100%;
    }

    #page-home form .inner-form .input-field.second-wrap {
    width: 47px;
  }
}

@media screen and (max-width: 391px) {
    #page-home form .inner-form .input-field input{
      font-size: 15px;
      padding-left: 20px;
    }
}
/*.app-search {
  padding: calc(32px / 2) 0;
}

.app-search .form-control {
  border: none;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e0e0ea;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
}

.app-search span {
  position: absolute;
  z-index: 10;
  font-size: 13px;
  line-height: 38px;
  right: 13px;
  top: 0;
  color: #6c757d;
}*/